<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="address" class="cn.ccsu.beans.Address" p:city="Changsha"
		p:street="Taiping AVE." scope="singleton">
	</bean>


	<bean id="car" class="cn.ccsu.beans.Car" p:brand="Ford" p:speed="120"
		scope="singleton">
	</bean>


	<bean id="p" class="cn.ccsu.beans.Person" p:name="Mark" p:age="21"
		p:sex="Male" autowire="byName" init-method="init" destroy-method="destroy">
	</bean>

	

</beans>
