<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<context:component-scan base-package="cn.ccsu"></context:component-scan>

	<bean id="Audience-1" class="cn.ccsu.aop.bean.Audience"></bean>

	<aop:config>

		<aop:aspect ref="Audience-1">
			<aop:pointcut
				expression="execution(** cn.ccsu.service.impl.PerformanceImpl.perform(String))
				and args(name)"
				id="pointCut" />

			<aop:before pointcut-ref="pointCut" method="silenceCellphone" />
			<aop:before pointcut-ref="pointCut" method="takeSeats" />

			<aop:after pointcut-ref="pointCut" method="applause" />
			<aop:after-throwing pointcut-ref="pointCut"
				method="refund" />

		</aop:aspect>
	</aop:config>

</beans>
